<div class="background">
  <div class="navbar">
    <nav class="navbar navbar-default navbar-fixed-top thenav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <h3 style="vertical-align:top; display:inline-block;">YumYack</h3>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navlinks" href="/">Home</a></li>
            <li><a class="navlinks" href="/messageboard">My Posts</a></li>
            <li><a class="navlinks" href="/social">Friends</a></li>
            <li><a class="navlinks" href="/deals" style="font-size:150%">+</a></li>
            <li>
              <div class="dropdown">
                <img class="dropbtn" src="../../assets/images/portrait.png" alt="">
                <div class="dropdown-content">
                  <a href="/">Account Overview</a>
                  <a href="#">Profile</a>
                  <a href="#">Settings</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="allcont">
  <div class="container">
    <div class="row therow">
      <div class="col-md-4">
        <img class="profilepic" src="../../assets/images/noimage.png" alt="">
      </div>
      <div class="col-md-7 rightside">
        <p class="accountdeets">Reuben Bagtas</p>
        <p class="accountdeets">Long Beach, CA</p>
        <p class="accountdeets">13 Posts</p>
        <p class="accountdeets">YackScore: 500</p>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:3%;">
    <div class="row therow">
      <div class="col-md-3">
        <div class="pagenav">
          <div class="profilenavbutt">
            <span class="overview">Overview</span>
          </div>
          <div class="profilenavbutt">
            <span class="friendstext">Friends</span>
          </div>
          <div class="profilenavbutt">
            <span class="poststext">Posts</span>
          </div>
          <div class="profilenavbutt">
            <span class="addtext">Add</span>
          </div>
        </div>
      </div>
      <div class="postheader">
        <h3>Recent Posts</h3>
        <div class="col-md-8 rightpost">
          <img class="postimage" src="../../assets/images/noimage.png" alt="">
          <p class="posttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:3%;">
    <div class="row therow">
      <div class="col-md-3">

      </div>

      <div class="col-md-8 rightpost">
        <img class="postimage" src="../../assets/images/noimage.png" alt="">
        <p class="posttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:3%;">
    <div class="row therow">
      <div class="col-md-3">

      </div>

      <div class="col-md-8 rightpost">
        <img class="postimage" src="../../assets/images/noimage.png" alt="">
        <p class="posttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="footers" style="background-color:#151e35">
  <div class="conatiner thecontainer">
    <div class="row">
      <div class="col-md-3 firstfooter">
        <h4 class="footerheader">Company</h4>
          <a class="linkcont" href="/aboutus">About us</a>
          <a class="linkcont" href="/careers">Careers</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Support</h4>
          <a class="linkcont" href="/contact">Contact</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Partners</h4>
          <a  class="linkcont" href="gyms">Gyms</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Community</h4>
          <a class="linkcont" href="Blog">Blog</a>
        </div>
        <div class="col-md-3 appstorestuff">
          <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
          <div class="appstorelink">
            <a href="/appstore"><img class="appstore" src="../../assets/images/appstorelink.png" alt=""></a>
          </div>
        </div>
      </div>
