
.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}


/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

.activity{
  border: solid;
  border-color: #F8F8F8;
  height: 100%;
}
.activity-item{
  display: block;
  margin-bottom: 10%;
}
.leftsec{
  height:100%;
  background-color: white;
  opacity: 0.9;
}
.rightsec{
  height: 100%;
  background-color: white!important;
  opacity: 0.9;
  margin-bottom: 10%;
}

.background{
  background: url(../../assets/images/foodimage.jpg) 100% fixed
}

.image{
  width:200px;
}
.dropbtn {
  /*background-color: #4CAF50;*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 60px;
  width:60px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f9f9f9;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.footers{
bottom: 0;
width: 100%;
height: 200px;
background-color: #151e35;
}
#home {
  color: #FFA33E;
}

#addpost {
    height: 30px;
    width:30px;

}
#notify{
    margin-top: 18%;
    width: 50px;
}
.thenotify{
  /* width: 5%; */
}
.friendspost{
 
}
.probootstrap-section-bg.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.probootstrap-section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
  position: relative;
  height: 600px;
}
@media screen and (max-width: 768px) {
  .probootstrap-section-bg {
    padding: 3em 0;
    height: 300px;
  }
}

.probootstrap-section-bg .probootstrap-heading {
  margin-top: 250px;
}
@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}
.probootstrap-hero > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.container-fluid .navbar-brand {
  margin-left: 15px;
}

.container-fluid .dropdown-submenu {
  position: relative;
}

.container-fluid .dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -1px;
}

@media screen and (max-width: 480px) {
  .container-fluid .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.probootstrap-hero {
  background-size: cover;
  background-position: center center;
}

.probootstrap-hero > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.probootstrap-hero > .container {
  position: relative;
  z-index: 2;
}
.text-center {
    text-align: center;
}
.probootstrap-animate {
  opacity: 1;
}
.probootstrap-section-bg .probootstrap-heading {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}
.probootstrap-heading .primary-heading {
  font-family: "Pinyon Script", serif;
  color: #FFA33E;
  margin: 0;
  padding: 0;
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  .probootstrap-heading .primary-heading {
    font-size: 70px;
  }
}
.probootstrap-heading .secondary-heading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  font-size: 50px;
  position: relative;
  top: -50px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .secondary-heading {
    font-size: 40px;
  }
}

.probootstrap-heading.dark .secondary-heading {
  color: #000000;
}

.probootstrap-heading .seperator {
  display: block;
  margin: 0 auto 10px auto;
  color: #ccc;
  font-weight: 300;
}
.probootstrap-heading .primary-heading {
  font-family: "Pinyon Script", serif;
  color: #FFA33E;
  margin: 0;
  padding: 0;
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  .probootstrap-heading .primary-heading {
    font-size: 70px;
  }
}
.probootstrap-heading .secondary-heading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  font-size: 50px;
  position: relative;
  top: -50px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .secondary-heading {
    font-size: 40px;
  }
}

.probootstrap-heading.dark .secondary-heading {
  color: #000000;
}
.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:grey;
  transition: .5s;
  opacity: 0;
}
.overlay2:hover{
  opacity: 0.9
}
.innerlink{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  opacity:0;

}