<div class="navbar">
<nav class="navbar navbar-default navbar-fixed-top thenav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <h3 style="vertical-align:top; display:inline-block;">YumYack</h3>
      <ul class="nav navbar-nav navbar-right">

        <li><a class="navlinks"  href="/home" id="home">Home</a></li>
        <li><a class="navlinks" href="/search">Find Friends</a></li>
        <li><a class="navlinks" href="/friendslist">Friends</a></li>
        <li class="thenotify">
            <div class="dropdown">
            <div *ngIf= "isValid; else other_content;">
            
              <img id="notify" class="btn dropdown-toggle" type="button" data-toggle="dropdown" src="../../assets/images/notification-flat.png">
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
              </div>

              <ng-template #other_content><img id="notify" class="btn dropdown-toggle" type="button"  data-toggle="dropdown" src="../../assets/images/notification.png">
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
                </ng-template>
              </div>                
          </li>
        <li><a class="navlinks" href="/create"><img id="addpost" src="../../assets/images/add post.png" alt=""></a></li>

        <li>
          <div class="dropdown">
            <img class="dropbtn" src="../../assets/images/portrait.png" alt="">
            <div class="dropdown-content">
              <a href="/home">Account Overview</a>
              <a href="/home">Profile</a>
              <a [routerLink]="['/friendsposts']">Settings</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
{{friendslist|json}}
<div *ngFor="let friend of friendslist[0].friends">
  <img src="" alt="">
  <p>{{ friend.username }}</p>
  <p>{{ friend.yumyackscore }}</p>
  <!-- <div style="border:1px solid black;">
    <img style="width:200px;"src="./../assets/images/file-1502355578835.jpg">
    <br>
    <p>name</p>
    <p>number of friends</p>
  </div> -->
</div>
  
