<div class="navbar">
    <nav class="navbar navbar-default navbar-fixed-top thenav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <h3 style="vertical-align:top; display:inline-block;">YumYack</h3>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navlinks"  href="/home" id="home">Home</a></li>
            <li style="margin-top:3.5%;"><div class="dropdown">
                <span class="dropbtn" style="color:grey;">Friends</span>
                <div class="dropdown-content">
                  <a href="/friendsposts">Friends Posts</a>
                  <a href="/search">Find Friends</a>
                  <a href="/friendslist">All Friends</a>
                </div>
              </div></li>
            <li><a class="navlinks"  href="/">My posts</a></li>
            <li class="thenotify">
                <div class="dropdown">
                <div *ngIf= "currentUser; else other_content;">
                
                  <img id="notify" class="btn dropdown-toggle" type="button" data-toggle="dropdown" src="../../assets/images/notification-flat.png">
                    <ul class="dropdown-menu">
                      <li>{{currentUser.notification[currentUser.notification.length-1]}}</li>
                      <br>
                      <li>{{currentUser.notification[currentUser.notification.length-2]}}</li>
                      <br>
                      <li>{{currentUser.notification[currentUser.notification.length-3]}}</li>
                      <br>
                      <li>{{currentUser.notification[currentUser.notification.length-4]}}</li>
                      <br>
                      <li>{{currentUser.notification[currentUser.notification.length-5]}}</li>
                    </ul>
                  </div>
  
                  <ng-template #other_content><img id="notify" class="btn dropdown-toggle" type="button"  data-toggle="dropdown" src="../../assets/images/notification.png">
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                    </ng-template>
                  </div>                
              </li>
            <li><a class="navlinks" href="/create"><img id="addpost" src="../../assets/images/add post.png" alt=""></a></li>
  
            <li>
              <div class="dropdown">
                <img class="dropbtn" src="../../assets/images/portrait.png" alt="">
                <div class="dropdown-content">
                  <a href="/editprofile">Edit profile</a>
                  <a href="/home">Profile</a>
                  <a [routerLink]="['/friendsposts']">Settings</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<!--  <div class='container' >
   <div class="row">
    <div *ngFor="let post of friendsPosts">
     <div class="col-md-6 friendspost">
       <div style="text-align:center; margin-bottom:50px;">
          <h3>{{post.name}}</h3>
          <a  class="outerimage" href="/postview/{{post._id}}"><img class="image" src="./../../assets/images/{{post.filename}}"/></a>
            <br/>
            <h6>{{post.user.username}}</h6>
        
          <rating (click)="rate(post._id);" [(ngModel)]="starsCount"
                  [float]="true">
          </rating>
      </div>
    </div>
  </div>
</div>   -->

<!--     <div class="floorplan"> -->
    <div class="search-background">
            <img src="../../assets/images/japanese.jpg">
        
            <div class="well-searchbox">
                <label class="control-label" style="font-size: 25px;">Search for your friends: </label>
                <br>
                <br>
                <form class="form-horizontal" role="form" (submit)="findbyfnamelname()">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fname">First Name: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="First Name" name='fname' [(ngModel)]='fname'>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-md-4 control-label" for="lname">Last Name: </label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Last Name" name='lname' [(ngModel)]='lname'>
                      </div>
                    </div>
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
                <br>
                <br>
                <br>
                <br>
                <form class="form-horizontal" role="form" (submit)="findbyUsername()">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Username: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Username" name='username' [(ngModel)]='username'>
                        </div>
                    </div>
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

<!-- <h1>Are your friends on YumYack?</h1>
<div class="main-login main-center" style="display: inline-block; vertical-align: top; background-color: #009EDF;">
  <h3>Find your Friends with their names: </h3>
  <form (submit)="findbyfnamelname()">
    <label for="fname" class="cols-sm-2 control-label">First Name: <input type='text' name='fname' [(ngModel)]='fname'/></label>
    <br/>
    <label for="lname" class="cols-sm-2 control-label">Last Name: <input type='text' name='lname' [(ngModel)]='lname'/></label>
    <br/>
    <input type='submit' value='Search'/>
  </form>
</div>
<br>
<br>
<br>
<br>
<div class="main-login main-center" style="display: inline-block; background-color: #009EDF;">
  <h4>Or Find your Friends with UserName: </h4>
  <form (submit)="findbyUsername()">
    <label>Username: <input type='text' name='username' [(ngModel)]='username'/></label>
    <br/>
    <input type='submit' value='Search'/>
  </form>
</div> -->

<!-- <div class="container">
  <div *ngIf='someUser'>
    
    <div style="border:1px solid black;">
        <a href='view/{{someUser._id}}'> <img src='./../assets/images/file-1502355578835.jpg'> </a>
        <br>
        <p>{{someUser.username}}</p>
        <p>{{someUser.fname}}</p>
        <p>{{someUser.lname}}</p>
    </div>

  </div>

</div> -->

<!-- <div class="container">
  <div *ngFor='let nameuser of nameusers'>
      
    
    <div style="border:1px solid black;">
        <a href='view/{{nameuser._id}}'> <img src='./../assets/images/file-1502355578835.jpg'> </a>
        <br>
        <p>{{nameuser.username}}</p>
        <p>{{nameuser.fname}}</p>
        <p>{{nameuser.lname}}</p>
    </div>

  </div>

</div> -->

<div *ngIf = "nameusers || someUser" class="searchcover">
<div class="container stylebox checkbox" id="namename">
<div class="alert alert-info picture"   *ngFor = "let nameuser of nameusers; let i = index" >
   <button type="button" class="close" data-dismiss="alert" >×</button>
   <div style="display: inline-block;">
   <a href='view/{{nameusers[nameusers.length - 1 - i]._id}}'> <img src='./../assets/images/{{nameusers[nameusers.length - 1 - i].filename}}'> </a>
   </div>
   <div style="display: inline-block;">
   <label >Username: {{nameusers[nameusers.length - 1 - i].username}}</label>
    <br>
   <label >First Name: {{nameusers[nameusers.length - 1 - i].fname}}</label>
   <br>
   <label >Last Name: {{nameusers[nameusers.length - 1 - i].lname}}</label>
   <br>
   <label >City: {{nameusers[nameusers.length - 1 - i].city}}</label>
   <br>
   <label >State: {{nameusers[nameusers.length - 1 - i].state}}</label>
  </div>
 </div>
</div>

<div class="container stylebox checkbox" id="username">

  <div class="alert alert-info picture"  *ngIf="someUser">
<!--     <button type="button" class="close" data-dismiss="alert" >×</button> -->
    
    <div style="display: inline-block;">
    <a href='view/{{someUser._id}}'> <img src='./../assets/images/{{someUser.filename}}'> </a>
    </div>
    <div style="display: inline-block;">
    <label >Username: {{someUser.username}}</label>
    <br>
    <label >First Name: {{someUser.fname}}</label>
    <br>
    <label >Last Name: {{someUser.lname}}</label>
    <br>
    <label >City: {{someUser.city}}</label>
    <br>
    <label >State: {{someUser.state}}</label>
   </div>
  </div>


</div>

</div>
<!-- <div class="container">
  <div *ngFor='let user of users'>
      
    
    <div style="border:1px solid black;">
        <a href='view/{{user._id}}'> <img src='./../assets/images/file-1502355578835.jpg'> </a>
        <br>
        <p>{{user.fname}}</p>
        <p>{{user.lname}}</p>
    </div>
  </div>

</div> -->
<!-- </div> -->
</div>