<div class="navbar">
    <nav class="navbar navbar-default navbar-fixed-top thenav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <h3 style="vertical-align:top; display:inline-block;">YumYack</h3>
          <ul class="nav navbar-nav navbar-right">

            <li><a class="navlinks"  href="/home" id="home">Home</a></li>
            <li><a class="navlinks" href="/search">Find Friends</a></li>
            <li><a class="navlinks" href="/friendslist">Friends</a></li>
            <li>
                <div class="dropdown">
                <div *ngIf= "isValid; else other_content;">
                
                  <img id="notify" class="btn dropdown-toggle" type="button" data-toggle="dropdown" src="../../assets/images/notification-flat.png">
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>

                  <ng-template #other_content><img id="notify" class="btn dropdown-toggle" type="button"  data-toggle="dropdown" src="../../assets/images/notification.png">
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                    </ng-template>
                  </div>                
              </li>
            <li><a class="navlinks" href="/create"><img id="addpost" src="../../assets/images/add post.png" alt=""></a></li>

            <li>
              <div class="dropdown">
                <img class="dropbtn" src="../../assets/images/portrait.png" alt="">
                <div class="dropdown-content">
                  <a href="/home">Account Overview</a>
                  <a href="/home">Profile</a>
                  <a [routerLink]="['/friendsposts']">Settings</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<div class="container">
  <div >
    <img class="image" src="./../../assets/images/{{post.filename}}"/>
    <br/>
    <div class="detailsbox">
      <h2 class="postname">{{post.name}}</h2>
      <p class="postusername">By: {{post.user.username}}</p>
   
      <p class="postorigin">Origin:{{post.origin}}</p>
    </div>
      <!-- progress bar ======================================================-->
      <div class="progress progress-bar-vertical">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" [style.height]="post.average*20 +'%'">
          {{post.average}}
        </div>
      </div>

<div class="yelpresults">
  <br>

  <h3 class="reqsheader">Places near you that serve this:</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4 yelps">
        <div class="stores">
          <img class="reqimage" src="{{yelpdata[0].image_url}}" alt="">
          <p class="textcontent"><a target="_blank" href="{{yelpdata[0].url}}">{{yelpdata[0].name}}</a></p>
          <p class="textcontent">is open:{{yelpdata[0].is_closed}}</p>
          <p class="textcontent">{{yelpdata[0].display_phone}}</p>
          <p class="textcontent">{{yelpdata[0].location.address}}</p>
        </div>
      </div>
      <div class="col-md-4 yelps">
        <div class="stores">
          <img class="reqimage" src="{{yelpdata[1].image_url}}" alt="">
          <p class="textcontent"><a target="_blank" href="{{yelpdata[1].url}}">{{yelpdata[1].name}}</a></p>
          <p class="textcontent">is open:{{yelpdata[1].is_closed}}</p>
          <p class="textcontent">{{yelpdata[1].display_phone}}</p>
          <p class="textcontent">{{yelpdata[1].location.address}}</p>
        </div>
      </div>
      <div class="col-md-4 yelps">
        <div class="stores">
          <img class="reqimage" src="{{yelpdata[2].image_url}}" alt="">
          <p class="textcontent"><a target="_blank"href="{{yelpdata[2].url}}">{{yelpdata[2].name}}</a></p>
          <p class="textcontent">is open:{{yelpdata[2].is_closed}}</p>
          <p class="textcontent">{{yelpdata[2].display_phone}}</p>
          <p class="textcontent">{{yelpdata[2].location.address}}</p>
        </div>

      </div>
    </div>
  </div>
</div>


    <!-- ===============================================================- -->
  </div>
</div>

<section class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-footer-widget">
            <h3>Company</h3>
            <div class="row">
              <div class="col-md-6">
                  <a class="linkcont" href="/aboutus">About us <br></a>
                  <a class="linkcont" href="/careers">Careers</a>
              </div>
              <div class="col-md-6">
                <p> 175 East Olive Ave, <br> Burbank CA 91502</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-footer-widget">
            <h3>Support</h3>
            <div class="row">
              <div class="col-md-4">
                <a class="linkcont" href="/contact">Contact</a>
              </div>
              <div class="col-md-4">
                <a class="linkcont" href="Community">Community</a>
              </div>
              <div class="col-md-4">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-footer-widget">
            <h3>Open Hours</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="appstorelink">
                  <a href="/appstore"><img class="appstore" src="./../../assets/images/appstorelink.png" alt=""></a>
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <p>Friday - Sunday <br> 5:30pm - 10:00pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="copyright-text">&copy; 2017 <a href="https://probootstrap.com/">jinbagtasShia</a>. All Rights Reserved. Images by <a href="https://graphicburger.com/">GraphicBurger</a> &amp; <a href="https://unsplash.com/">Unsplash</a></p>
        </div>
        <div class="col-md-4">
          <ul class="probootstrap-footer-social right">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

