<div class="background">
  <div class="navbar">
    <nav class="navbar navbar-default navbar-fixed-top thenav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <h3 style="vertical-align:top; display:inline-block;">YumYack</h3>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navlinks"  href="/home" id="home">Home</a></li>
            <li><a class="navlinks" href="/search">Find Friends</a></li>
            <li><a class="navlinks" href="/friendslist">Friends</a></li>
            <li>
                <div class="dropdown">
                <div *ngIf= "isValid; else other_content;">
                
                  <img id="notify" class="btn dropdown-toggle" type="button" data-toggle="dropdown" src="../../assets/images/notification-flat.png">
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>

                  <ng-template #other_content><img id="notify" class="btn dropdown-toggle" type="button"  data-toggle="dropdown" src="../../assets/images/notification.png">
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                    </ng-template>
                  </div>                
              </li>
            <li><a class="navlinks" href="/create"><img id="addpost" src="../../assets/images/add post.png" alt=""></a></li>
            <li>
              <div class="dropdown">
                <img class="dropbtn" src="../../assets/images/portrait.png" alt="">
                <div class="dropdown-content">
                  <a href="/">Account Overview</a>
                  <a href="#">Profile</a>
                  <a href="#">Settings</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="topsection">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="welcomebox">
            <span class="welcome">Welcome</span>
            <span class="username">Name</span>
          </div>
        </div>

        <div class="col-md-2 activity">
          <div class="activities">
            <!-- for loop -->
            <h3>Activity</h3>
            <span class="activity-item">1. burgers</span>
            <span class="activity-item">2. apples</span>
            <span class="activity-item">3. peaches</span>
            <span class="activity-item">4. octupus</span>
            <span class="activity-item">5. Pig fat</span>
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="container">
    <div class="row therow">
      <div class="col-md-6 leftsec" style="border-right:2px solid; padding:none">
        <h3 style="margin:0;text-align:center;background-color:grey;">Activities</h3>
        <p>{{friendsPosts[0].user.username}}: {{friendsPosts[0].name}}</p>
        <p>{{friendsPosts[1].user.username}}: {{friendsPosts[1].name}}</p>
        <p>{{friendsPosts[2].user.username}}: {{friendsPosts[2].name}}</p>
        <p>{{friendsPosts[3].user.username}}: {{friendsPosts[3].name}}</p>
        <p>{{friendsPosts[4].user.username}}: {{friendsPosts[4].name}}</p>
        <p>{{friendsPosts[5].user.username}}: {{friendsPosts[5].name}}</p>
        <p>{{friendsPosts[6].user.username}}: {{friendsPosts[6].name}}</p>
        <p>{{friendsPosts[7].user.username}}: {{friendsPosts[7].name}}</p>
        <a [routerLink]="['/friendsposts']">see more</a>
      </div>
      <div class="col-md-6 rightsec" style="paddding:none;">
        <h3 style="margin:0;text-align:center;background-color:grey;">Recomendations</h3>
      </div>
      <div class="col-md-6 leftsec" style="border-right:2px solid; padding:none">
        <h3 style="margin:0;text-align:center;background-color:grey;">Friends</h3>
            <!-- friends table -->


            

















      </div>
      <div class="col-md-6 rightsec" style="paddding:none;">
        <h3 style="margin:0;text-align:center;background-color:grey;">Recomendations</h3>
      </div>
    </div>
  </div>
</div>

<div class="footers" style="background-color:#151e35">
  <div class="conatiner thecontainer">
    <div class="row therow">
      <div class="col-md-3 firstfooter">
        <h4 class="footerheader">Company</h4>
          <a class="linkcont" href="/aboutus">About us</a>
          <a class="linkcont" href="/careers">Careers</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Support</h4>
          <a class="linkcont" href="/contact">Contact</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Partners</h4>
          <a  class="linkcont" href="gyms">Gyms</a>
        </div>
        <div class="col-md-3">
          <h4 class="footerheader">Community</h4>
          <a class="linkcont" href="Blog">Blog</a>
        </div>
        <div class="col-md-3 appstorestuff">
          <h4 class="appstorehead" style="color:white; margin-left:8%; margin-top:5%">Enjoy GymFinder on the go!</h4>
          <div class="appstorelink">
            <a href="/appstore"><img class="appstore" src="../../assets/images/appstorelink.png" alt=""></a>
          </div>
        </div>
      </div>

  </div>
  </div>
